.backa{
    margin-left: 2px;
    width: 97vw;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    padding-right: 25px;
    color: white;
    cursor: default;
   
  }

  .btn{
    float: right;
    height: 50px;
    margin-right: 20px;
    color: white;
   cursor: pointer;
  }
  .hide{
      display: none;
  }
  body{
    background-color: rgb(0, 0, 0);
 
  }
  #deadline{
      margin-top: 20px;
      border-style: none;
      border-radius: 5px;
      font-size: 20px;
  }
  .textbox{
    margin-top: 20px; 
    font-size: 20px;
  }
 
  .size{
      height: 90px;
      
  }
  .boxx{
    margin-top: 10px;
  }
 
  .boxx ul{
    display:flex;
    list-style:none; 
  margin-top:-10px;
    height:20px;
    position:absolute;
    background: rgb(36, 36, 36);
    width: 400px;
   }
   .boxx ul i{
    color:white;
    padding-left:8px;
    
   }
   .boxx ul li{
    background: rgb(36, 36, 36);
   }
   .bro{
    cursor:default;
    background: rgb(36, 36, 36);
    width: 300px;
     height: 21px; 
     margin-top: -30px; 
     overflow: hidden;
  }
  .gid body{
    height: 90px !important;
   
   
  }



   /* responsive screen animations */
  @media(max-width:430px){
    .contain{
      margin-top: 10px;
    }
    .boxx{
      width: 270px;
    margin-top: 10px;
    
    }
    .gid{
      margin: 0 auto;
    }
    .gid body{
      height: 90px !important;
     
    }
  }
  @media(max-width:400px){
    .contain{
      margin-top: 10px;
    }
    .boxx{
      width: 270px;
    margin-top: 10px;
    
    }
    .gid{
      margin: 0 auto;
    }
    .gid body{
      height: 90px !important;
     
    }
    
  }
 